* {
	margin:0;

}

body {
  font-family: 'Open Sans', sans-serif;
}

/* section 1 */

#sec1 {
  background-color: #9CCCD6;
  height: 400px;
  margin: 0 auto;
}

nav {
  height: 120px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

nav ul {
  position: absolute;
  top: 50px;
  left: 600px;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

.logo {
  position: absolute;
  top: 50px;
  left: 300px;
}

.fa-heart {
  margin-right: 5px;
}

.bottom {
  margin-top: -50px;
  text-align: center;

}

.bottom-left {
  width: 350px;
  display: inline-block;
  position: relative;
  top: -60px;
}

h1 {
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 32px;
  letter-spacing: 5px;
  text-align: center;
 


}

.bottom img {
  margin-top: 60px;
  margin-left: 80px;
  display: inline-block;
}


/* section 2 */

#sec2 {
  background-color: #FEFEFE;
  height: 350px;
  padding-left: 160px;
  text-align: center;
}

.grid {
  display: grid;
  width: 100%;
  height: 300px;
  grid-column-gap: 40px;
  grid-template-columns: 300px 300px 300px;
  padding-top: 50px;
  padding-right: 200px;

}

h2 {
  text-align: center;
  font-size: 16px;
  margin-top: 6px;
}

.grid p {
  font-size: 12px;
  margin-top: 10px;
  text-align: center;

}

#item3 img {
 
  height: 90px;
}
  /* section 3 */

#sec3 {

  background-color: #8DCD9B;
  height: 700px;
  padding-left: 350px;
  padding-right: 300px;
  text-align: center;
}

#recentworks {
  padding-top: 40px;
}

#recentworks h1 {
  color: white;
}

#recentworks p {
  color: white;
  font-size: 11px;
  width: 300px;
  padding-left: 150px;
  padding-top: 20px;
  text-align: center;

}

.menu {
  padding-top: 50px;
  padding-left: 20px;
  width: 600px;
  text-align: center;

}

#sec3 li {
  display: inline-block;
  margin-right: 30px;
}

#sec3 li a {
  color: white;
  padding:5px;
  font-weight: 300;
  font-size: 15px;
}

#sec3 li a:hover {
  background-color: white;
  color: grey;
  border-radius: 5px;
  padding: 5px;
} 

#sec3 li a:focus {
  border:1px solid #FFF;
  border-radius: 5px;
} 

#pictures {
  margin-top: 40px;
  width: 800px;
  text-align: center;
  position: relative;
  right: 60px;
}


#pictures img {
   width: 190px;
   padding: 0 20px 20px 0;
}

.button {
  border-radius: 5px;
  background-color: white;
  color:grey;
  padding:15px 20px;
  border: none;
  margin-top: 20px;
  margin-left: 50px;
}

 /* section 4 */

#sec4 {

  background-color: #EEEEEE;
  height: 330px;	
}

#sec5 {

  background-color: #D8ABBC;	
  height: 330px;
}

#sec6 {

  background-color: #A9CCDA;
  height: 330px;
}

#sec7 {

  background-color: #343434;
  height: 360px;	
}